.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/vintage-pink-telephone-composition.jpg");
  background-size: cover;
  background-position: center;
}
