.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 385px;
  padding: 10px;
  border: 1px solid #133eb4;
  margin-bottom: 10px;
  background-color: white;
}

.text {
  font-size: 18px;
}

.btn {
  padding: 5px 14px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.button {
  padding: 5px 14px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #d4dfee;
  color: black;
}
